<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioFacturacionCufdServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioFacturacionCufdServiceSoapBinding1" />
                <binding name="ServicioFacturacionServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioFacturacionServiceSoapBinding1" />
                <binding name="ServicioSincronizacionFechaHoraServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioSincronizacionFechaHoraServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://presiatservicios.impuestos.gob.bo:39268/FacturacionSolicitudCufd"
                binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionCufdServiceSoapBinding"
                contract="ServiceRefCufd.IServicioFacturacionCufd" name="ServicioFacturacionCufdPort" />
            <endpoint address="https://presiatservicios.impuestos.gob.bo:39113/FacturaElectronicaEstandar"
                binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionServiceSoapBinding"
                contract="ServiceRefFEstandar.IServicioFacturaElectronicaEstandar"
                name="ServicioFacturacionPort" />
            <endpoint address="https://presiatservicios.impuestos.gob.bo:39266/FacturacionSincronizacionFechaHora"
                binding="basicHttpBinding" bindingConfiguration="ServicioSincronizacionFechaHoraServiceSoapBinding"
                contract="ServiceRefSinFechaHora.IServicioSincronizacionFechaHora"
                name="ServicioSincronizacionFechaHoraPort" />
        </client>
    </system.serviceModel>
</configuration>
